
@{
    ViewBag.Title = "Search_form";
}

<h2>Search Album</h2>

@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <input type="text" name="q" data-autocomplete-source="@Url.Action("QuickSearch", "Home")" />
    <input type="submit" value="Search" />
}